@use 'sass:map';

@use '../../design/shared.scss' as *;

@include b(icon) {
  display: flex;
  align-items: center;

  @include e(icon) {
    font-family: aicon-iconfont;
    position: relative;
  }

  @include e(img) {
    height: auto;
    will-change: transform;
  }
}
