@use '../../design/shared' as *;

@include b(navbar) {
  @include m(fixed) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
  }

  @include e(placeholder) {
    height: getCssVar('navbar', 'placeholder-height');
  }

  @include e(content) {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    height: getCssVar('navbar', 'content-height');
    background-color: getCssVar('navbar', 'bg-color');

    &__left,
    &__right {
      padding: 0 13px;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__left {
      left: 0;

      &--hover {
        opacity: getCssVar('navbar', 'left-pressed-color');
      }

      &__text {
        font-size: 15px;
        margin-left: 3px;
        color: getCssVar('navbar', 'left-text-color');
      }
    }

    &__title {
      text-align: center;
      font-size: 16px;
      width: getCssVar('navbar', 'title-width');
      color: getCssVar('navbar', 'title-text-color');
    }

    &__right {
      right: 0;

      &__text {
        font-size: 15px;
        margin-left: 3px;
      }
    }
  }
}
