@use '../../design/shared.scss' as *;

@include b(loading) {
  color: getCssVar('loading', 'color');
  width: getCssVar('loading', 'width');
  height: getCssVar('loading', 'height');
  position: relative;
  box-sizing: border-box;
  border: getCssVar('loading', 'inactive-color');
  animation: a-rotate 1s linear infinite;
  animation-duration: getCssVar('loading', 'duration');

  &--semicircle {
    border-width: getCssVar('loading', 'semicircle', 'width');
    border-top-color: getCssVar('loading', 'color');
    border-style: getCssVar('loading', 'style');
    border-top-right-radius: getCssVar('loading', 'semicircle', 'radius');
    border-top-left-radius: getCssVar('loading', 'semicircle', 'radius');
    border-bottom-left-radius: getCssVar('loading', 'semicircle', 'radius');
    border-bottom-right-radius: getCssVar('loading', 'semicircle', 'radius');
    animation-timing-function: getCssVar('loading', 'function');
  }

  &--circle {
    border-width: getCssVar('loading', 'circle', 'width');
    border-top-color: getCssVar('loading', 'color');
    border-style: getCssVar('loading', 'style');
    border-top-right-radius: getCssVar('loading', 'circle', 'radius');
    border-top-left-radius: getCssVar('loading', 'circle', 'radius');
    border-bottom-left-radius: getCssVar('loading', 'circle', 'radius');
    border-bottom-right-radius: getCssVar('loading', 'circle', 'radius');
    animation-timing-function: getCssVar('loading', 'function');
  }

  &--spinner {
    animation-timing-function: steps(12);
  }

  &__dot {
    position: absolute;
    top: getCssVar('loading', 'dot', 'top');
    left: getCssVar('loading', 'dot', 'left');
    width: getCssVar('loading', 'dot', 'width');
    height: getCssVar('loading', 'dot', 'height');

    &:before {
      display: block;
      width: getCssVar('loading', 'dot', 'before-width');
      height: getCssVar('loading', 'dot', 'before-height');
      margin: getCssVar('loading', 'dot', 'before-margin');
      background-color: getCssVar('loading', 'dot', 'before-color');
      border-radius: getCssVar('loading', 'dot', 'before-radius');
      content: ' ';
    }
  }

  // :host {
  //   font-size: getCssVar('loading', 'host', 'font-size');
  //   line-height: getCssVar('loading', 'host', 'line-height');
  // }

  @for $i from 1 through 12 {
    .#{$namespace}-loading__dot:nth-of-type(#{$i}) {
      transform: rotate($i * 30deg);
      opacity: 1 - 0.0625 * ($i - 1);
    }
  }

  @keyframes a-rotate {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }
}
