@use '../../design/shared.scss' as *;

@include b(grid-item) {
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  background-color: getCssVar('grid-item', 'background-color');
  width: getCssVar('grid-item', 'width');
  border-width: 0;
  border-color: getCssVar('grid-item', 'border-color');
  border-style: solid;

  /* #ifdef MP */
  position: relative;
  float: left;
  /* #endif */

  /* #ifdef MP-WEIXIN */
  margin-top: 1rpx;
  /* #endif */

  @include when(active) {
    background-color: getCssVar('grid-item', 'color-pressed');
  }

  @include when(border-right) {
    border-right-width: getCssVar('grid-item', 'border-right-width');
  }

  @include when(border-bottom) {
    border-bottom-width: getCssVar('grid-item', 'border-bottom-width');
  }
}
