@use '../../design/shared' as *;

@include b(badge) {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  background: getCssVar('badge', 'color');
  color: getCssVar('badge', 'text-color');
  padding: getCssVar('badge', 'padding');
  font-size: getCssVar('badge', 'font-size');
  position: relative;
  flex-shrink: 0;
  white-space: nowrap;
  flex-direction: row;
  overflow: hidden;

  @include m(circle) {
    border-radius: getCssVar('badge', 'border-radius');
  }

  @include m(horn) {
    border-bottom-left-radius: 0;
  }

  @include when(dot) {
    padding: getCssVar('badge', 'dot-size');
  }

  @include when(absolute) {
    position: absolute;
    top: getCssVar('badge', 'top');
    right: getCssVar('badge', 'right');
  }
}
